@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<ChildLevel1Derived></ChildLevel1Derived>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
